<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" type="text/css" href="../styling/navbar.css">
</head>

<body>
    <div class="nav-container">
        <nav class="navbar">
            <a class="logo">Just DOM Things</a>
            <div class="options">
                <a class="angry-btn">Angry Buttons</a>
                <a class="form-btn">Cute Form</a>
                <a class="hover-btn">Hover Alert</a>
            </div>
        </nav>
    </div>
</body>
</html>